<div class="edit">

</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>fill your information</h1>
        
         
        <form action="/inf/{{user.id}}" method="POST" enctype="multipart/form-data">
           
              <div class="form-group">
                  <label for="name">name</label>
                  <input type="text" id="name" value="{{user.name}}" name="name" class="form-control">

              </div>
              <div class="form-group">
                  <label for="name">phone</label>
                  <input type="text" id="phone" value="{{user.phone}}" name="phone" class="form-control">

              </div>
              <div class="form-group">
                  <label for="bday">BirthDay</label>         

                  <input type="date" id="bday" name="bday" value="{{user.bday}}" class="form-control">

              </div>
              <div class="form-group">
                  <label for="city">city</label>
                  <input type="text" id="city" name="city" value="{{user.city}}"  class="form-control">

              </div>
              <div class="form-group">
                  <label for="profile">Your Profile Picture</label>
                  <input type="file" id="foo" name="foo" class="form-control">
                  

             </div>
              
             <button type="submit" class ="ll" class="btn btn-primary">Save Your Information</button>
        </form>
          

    </div>
</div>
</div>