
<div class="above">

<div class="container">
<h3 class=" text-center">Messaging with <a href="/profile/{{fuser._id}}"> {{fuser.name}} </a> </h3> {{conv._id}}

<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
                {{#each conversations as |item|}}

  <a href="/user/messages/{{item.[1]._id}}"> 

            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="http://localhost:3000/{{item.[1].ph}}" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{item.[1].name}} <span class="chat_date">Dec 25</span></h5>
                  <p>{{item.[0].messages.[0].msgvalue}}</p>
                </div>
              </div>
            </div>
          </a>
 {{/each}}

              </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div class="incoming_msg" id="output">
              
              {{#each conv.messages}}

              <div class="incoming_msg_img" > <img src="http://localhost:3000/{{this.msgsender}}">  </div>
              

              <div class="received_msg" >
                <div class="received_withd_msg">
                  <p class="chp" >
                      {{this.msgvalue}}
                  </p>
                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
              </div>
              {{/each}}

            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p ></p>
                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
            </div>
            
          </div>
           <div class="type" id="type">
           </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <form action="/message/{{fuser._id}}" method="POST" enctype="multipart/form-data">
                <input type="text" name="text" id="message" class="write_msg" placeholder="Type a message" />  
                <button type="submit" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              
              </form>
              
            </div>
          </div>
        </div>
      </div>
      
      
<p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>
      
    </div>
    </div>

        </div>

        <input type="hidden" id="fera" value="{{cuser.ph}}"> 

    